.Dictionary h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.Dictionary section{
    background: #b5ff7d;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgb(0 0 0 /10%);
    margin: 20px 0;
}

.Dictionary input{
    width: 100%;
    border-radius: 6px;
    padding: 6px 10px;
    color: #333;
    border: 1px solid #fff8b5;
}

.Dictionary .hint{
    font-size: 11px;
    margin-top: 5px;
}